{% extends 'base.html' %}

{% block title %} Reset Password | goto: agnive.sh {% endblock title %}

{% block content %}

<h1>Reset password</h1>
<form method="post">
    <table>
        <tr>
            <td>
                <label for="username">Username:</label>
            </td>
            <td>
                <input type="text" name="username" value="{{ username }}" disabled>
            </td>
        </tr>
        <tr>
        <td>
            <label for="password">New Password:</label>
        </td>
        <td>
            <input type="text" name="password">
        </td>
        </tr>
    </table>
    <input type="submit" value="Submit">
</form>

{% endblock content %}
