<h1>Login</h1><br>

<form method="{{ method }}" action="{{ action }}">
    <label for="accessKey">Access key:<input type="password" name="accessKey"></label><br>
    <input type="submit" value="Submit">
</form>