<div class="page">
<h1> Hi {{ user.username }}


<h2>Create!</h2>

<form method="post" action="/">
  <table>
    <tr>
      <td>
        <label for="target">Target:</label>
      </td>
      <td>
        <input type="text" name="target">
      </td>
    </tr>
    <tr>
      <td>
        <label for="path">Path:</label>
      </td>
      <td>
        <input type="text" name="path"><br>
      </td>
    </tr>
  </table>
    <input type="hidden" name="action" value="create">
    <input type="submit" value="Submit">
</form>

<h2>Your shawties</h2>
<table>
  <tr>
    <th>Slug</th>
    <th>Target</th>
  </tr>
{% for redirect in redirects %}
    <tr>
        <td>{{ base_url }}/{{ redirect[0] }}</td>
        <td><a href="{{ redirect[1] }}">{{ redirect[1] }}</a></td>
        <td>
          <form method="post" action="/">
            <input type="hidden" name="path" value="{{ redirect[0] }}">
            <input type="hidden" name="action" value="delete">
            <button>
              <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/></svg>
            </button>
          </form>
        </td>
    </tr>
{% endfor %}
</table>

</div>


<style>
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
th, td {
  border: 1px solid black;
  padding: 20px 50px;
}
</style>
